.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My CSS */
html, body{
  height: 80%;
  padding: 0;
  margin: 0;
  background-color: lightgray;
  font-family: “Cormorant Garamond”, serif;
  
}

/* Navbar */
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-item .nav-link:hover {
  color: maroon;
}

.navbar-brand {
  background-color: maroon;
  padding: 15px 20px;

}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  color: white;
}

.narbar-nav {
  justify-content: center;
}

.navbar-nav .nav-link {
  padding: 0 .5rem;
}

.nav-item{
  border-right: 1px solid lightgray;
}

.nav-item:last-child {
  border-right: none;
}

a.nav-item.nav-link:hover{
  color: maroon;
}

/* main */
.content-box {
  background-color: white;
  padding: 20px;
}
h1 {
  color: maroon;
  border-bottom: 3px solid lightgray;
  margin-bottom: 1rem;
  padding-bottom: 10px;
  font-family: “Cormorant Garamond”, serif;
}

/* Portfolio */
.pimages .col-lg-6 {
  padding-bottom: 20px;
}
.porttext {
  position: absolute;
  bottom: 80px;
  height: 40px;
  background-color: maroon;
  color: white;
  width: 200px;
  text-align: center;
  padding-top: 8px;
  
}
.pimages .img-fluid {
  height: 280px;
  width: 200px;
  border-style: solid;
  border-color:maroon;
  border-width: thin;
}

.porttext:visited {
  background-color: white;
}

a:link {
  color:white;
}
a:visited {
  color: white;
}

.card-text a:visited {
  color: grey;
}

.card-text a:link {
  color: grey;
}

.card-text a:hover {
  color: maroon;
}


/* footer */
.wrapper {
  min-height: 100%;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  border-top: maroon 5px solid;
  position: relative;
  bottom: 0;
  background-color: grey;
  color: lightgrey;
  width: 100%;
}